<template>
    <div>
        <ul>nom: {{avatar.name}}</ul>
        <ul>coût : {{avatar.cost_in_credits}}</ul>
    </div>
</template>
<script>
export  default {
    props:{
        avatar:{type: Object, required: true}
    }
}

</script>