<template>
    <div>
        <ul>nom: {{avatar.name}}</ul>
        <ul>date de naissance: {{avatar.birth_year}}</ul>
        <ul>taille: {{avatar.height}}</ul>
    </div>
</template>

<script>

export default {
    props:{
        avatar: {type:Object, required: true},
    },
}
</script>