<template>
    <div>
        <ul>nom: {{avatar.name}}</ul>
        <ul>langage {{avatar.language}}</ul>
    </div>
</template>
<script>
export default {
    props:{
        avatar:{type: Object, required: true}
    }
}
</script>