<template>
    <div>
        <ul>nom: {{avatar.name}}</ul>
        <ul>diametre {{avatar.diameter}}</ul>
    </div>
</template>
<script>
export  default {
    props:{
        avatar:{type: Object, required: true}
    }
}
</script>