<template>
    <div>
        <ul>nom: {{fullName}}</ul>
        <ul>date de naissance: {{avatar.date}}</ul>
    </div>
</template>
<script>
export default {
    props:{
        avatar: {type: Object, required: true}
    },
    computed:{
        fullName(){
            return `${this.avatar.name} ${this.avatar.lastname}`
        }
    }
}
</script>