<template>
    <div>
        <FormEditeAdd :isEdite="isEdite" class="m-3" @addAvatar="add"/>
    </div>
    <div class="bg-slate-100 " v-if="avatars.length > 0">
        <ListeIdCard :avatars="avatars"  />
    </div>
</template>
<script>
import axios from "axios";
import ListeIdCard from "@/components/ListeIdCard.vue";
import FormEditeAdd from "@/components/FormEditeAdd.vue";
export default {
    data() {
        return {
            isEdite: false,
            avatars: [],
            path: ''
        }
    },
    components: {
        ListeIdCard,
        FormEditeAdd
    },
    watch:{
        path: function (newValue) {
            axios
                .get('https://swapi.dev/api' + newValue)
                .then(response => (this.avatars = response.data.results))
        }
    },
    mounted() {
        this.path = this.$route.fullPath
    },
    //sert à mettre a jour le chemin pour la requête quand la route change
    beforeUpdate() {
        this.path = this.$route.fullPath
    },
    methods:{
        add(data) {
            this.avatars.push(data)
        }
    }
}
</script>