<template>
  <div>

 <!--<Card :avatar="avatars"/>-->
      <!--<a v-if="donneeAffichee">{{donneeAffichee}}</a>-->

      <ListeIdCard :avatars="avatars"  />
  </div>

      <!-- <div>
           <Card v-if="donneeAffichee" :avatars="avatars"/>
       </div> -->
</template>

<script>
import Card from "@/components/Card.vue";
import ListeIdCard from "@/components/ListeIdCard.vue";
export default {
    components:{
        ListeIdCard,
        Card,
    },
    data(){
        return{
            avatars: [
                { name: 'tata', lastname: "qzldlld",  date: "20/04/2023"},
                { name: 'titi', lastname: "kqzd",  date: "20/04/2020"},
                { name: 'tonton', lastname: "Aaaaaa",  date: "20/04/2020"},
                { name: 'tdtd', lastname: "Aaaaaa",  date: "20/04/2020"},
            ],
        }
    },
};
</script>