<template>
  <div class="m-2">
      <button @click="toggleList" class="btn-change "> Toggle student list </button>
      <br>
      <br>

    <StudentList v-if="isVisible" :students="students" />

    <label>
      Mon input
      <input type="text" class="input" v-model="form.input"/>
    </label>
    <br>
    <br>
    <label>
      Mon password
      <input type="password" class="input" v-model="form.password"/>
    </label>
    <br>
    <br>
    <button @click="submitForm" class="btn-change"> Sauvegarder </button>
  </div>
</template>


<script>
  import StudentList from '@/components/StudentList.vue'

  export default {
    components: {
      StudentList,
    },
    data() {
      return {
        students: [
          { id: 1, name: 'toto', lastname: "qzod", color: 'red'},
          { id: 2, name: 'tata', lastname: "qzldlld",  color: 'blue'},
          { id: 3, name: 'titi', lastname: "kqzd",  color: 'yellow'},
          { id: 4, name: 'ok', lastname: "Aaaaaa",  color: 'green'},
        ],
        color: true,
        isVisible: false,
        form : {
          input: null,
          password: null,
        },
      };
    },
    methods: {
      toggleList() {
        this.isVisible = !this.isVisible
      },
      submitForm() {
        console.log(this.form);
      }
    }
  }
</script>
