<template>
    <div class="card ">
        <a class="m-2 underline">
            {{this.$route.fullPath.replace("/","")}}
            card :
        </a>
        <br>
        <button class="btn-card"
                type="submit"
                @click="sendDataForDelete">
            supprimer
        </button>
        <button class="btn-card"
                type="submit"
                @click="edite()">
            editer
        </button>
        <br>
        <div >
        </div>
        <div v-if="$route.fullPath==='/avatar'">
            <ContentAvatar
                :avatar="avatar"/>
        </div>
        <div>
            <div v-if="$route.fullPath==='/people'">
                <ContentPeople
                    :avatar="avatar"/>
            </div>

            <div v-if="$route.fullPath==='/starships'">
                <ContentStarships
                    :avatar="avatar"/>
            </div>

            <div v-if="$route.fullPath==='/vehicles'">
                <ContentVehicles
                    :avatar="avatar"/>
            </div>

            <div v-if="$route.fullPath==='/species'">
                <content-species :avatar="avatar"/>
            </div>

            <div v-if="$route.fullPath==='/planets'">
                <content-planets :avatar="avatar"/>
            </div>
        </div>
    </div>
    <FormEditeAdd
        v-if="isEdite"
        :isEdite="isEdite"
        :avatar="avatar"/>
</template>
<script>
import ContentPeople from "@/components/ContentCard/ContentPeople.vue";
import FormEditeAdd from "@/components/FormEditeAdd.vue";
import ContentStarships from "@/components/ContentCard/ContentStarships.vue";
import ContentVehicles from "@/components/ContentCard/ContentVehicles.vue";
import ContentSpecies from "@/components/ContentCard/ContentSpecies.vue";
import ContentPlanets from "@/components/ContentCard/ContentPlanets.vue";
import ContentAvatar from "@/components/ContentCard/ContentAvatar.vue";
export default {
    data(){
        return{
            isEdite:false, //si j'enléve marche pas pk???
            path:'',
        }
    },
    emits:["removeAvatar"],
    components: {
        ContentAvatar,
        ContentPlanets,
        ContentSpecies,
        ContentVehicles,
        ContentStarships,
        FormEditeAdd,
        ContentPeople
    },
    props: {
        avatar: { type: Object, required: true },
        index: Number,
    },
    mounted() {
        this.path = this.$route.fullPath
    },
    methods:{
        sendDataForDelete(){
            this.$emit('removeAvatar',this.index)
        },
        edite(){
            this.isEdite = !this.isEdite
        },
    },
}
</script>
