<template>
    <h1 v-if="isEdite">formulaire de modification :</h1>
    <h1 v-else class="mb-2 underline">formulaire d'ajout :</h1>
    <a>{{listData}}</a>
    <form @submit.prevent="changeAvatar">
        <div v-for="(value,key) in listData.people">
            <label>{{key}}</label>
            <input type="text" v-model="getObjectToUse()[key]" class="input">
        </div>
    </form>
    <button class="btn-change" type="submit" v-if="isEdite">Modifier</button>
    <button class="btn-change" type="submit" v-else>Ajouter</button>
    <!--
     <div>
         <form  @submit.prevent="changeAvatar ">
             <div>
                 <label>nom</label>
                 <input type="text" id="name" v-model="listTypeOfData.people.name" class="input" >
                 <br>
                 <label>prenom :</label>
                 <input type="text" id="lastname" v-model="listTypeOfData.people.birth_year" class="input" >
                 <br>
                 <label>date :</label>
                 <input type="text" id="date" v-model="listTypeOfData.people.height" class="input" >
             </div>
             <button class="btn-change" type="submit" v-if="isEdite">Modifier</button>
             <button class="btn-change" type="submit" v-else>Ajouter</button>
         </form>
     </div>-->
</template>
<script>

export default {
    data(){
        return{
            listData:{
                people:{
                    name: 'ok',
                    birth_year: '2',
                    height: '3',
                },
                starships: {
                    name: 'yes',
                    cost_in_credits: 2500,
                },
                vehicles:{
                    name:'vvv',
                    model:'www',
                },
                species:{
                    name:'name',
                    language:'langue',
                },
                planets:{
                    name:'nom',
                    diameter:4444,
                }
            },
            NewAvatar:{
                name:'ok',
                lastName:'yes',
                date:'23',

            },
        }
    },
    props:{
        avatar: {type:Object},
        isEdite: Boolean,
    },
    methods: {
        editAvatar() {
            this.avatar.name = this.listTypeOfData.people.name
            this.avatar.lastname = this.NewAvatar?.lastName
            this.avatar.date = this.NewAvatar?.date
            //pour fermer le formulaire une fois le bouton modifier cliqué
            //this.isEdite = false
        },
        changeAvatar(){
            if(this.isEdite){
                return this.editAvatar();
            }
            else {
                return this.sendDataForAdd();
            }
        },
        sendDataForAdd(){
            this.$emit('addAvatar',{
                name: this.NewAvatar.name +' '+ this.NewAvatar.lastName,
                birth_year:this.NewAvatar.date
            })
            this.NewAvatar.name='',
                this.NewAvatar.lastName='',
                this.NewAvatar.date=''
        },

    }
}



</script>