<template>
    <div>
        <h1 v-if="isEdite">formulaire de modification :</h1>
        <h1 v-else class="mb-2 underline">formulaire d'ajout :</h1>
        <form @submit.prevent="changeAvatar">
            <div v-for="(value,key) in getObjectToUse()">
                <label>{{key}}</label>
                <input type="text" v-model="getObjectToUse()[key]" class="input">
            </div>
            <button class="btn-change" type="submit" v-if="isEdite">Modifier</button>
            <button class="btn-change" type="submit" v-else>Ajouter</button>
        </form>
    </div>
</template>
<script>
export default {
    data(){
        return{
            listData:{
                people:{
                    name: '',
                    birth_year: '',
                    height: '',
                },
                starships: {
                    name: '',
                    cost_in_credits:'',
                },
                vehicles:{
                    name:'',
                    model:'',
                },
                species:{
                    name:'',
                    language:'',
                },
                planets:{
                    name:'',
                    diameter:'',
                }
            },
            NewAvatar:{
            },
            listDataKey:[],
        }
    },
    props:{
        avatar: {type:Object},
        isEdite: Boolean,
    },

//methode pour préremplir les champs de modification
    mounted() {
        this.listDataKey= Object.keys(this.getObjectToUse())
        this.listDataKey.forEach(key=>{
            this.getObjectToUse()[key] = this.avatar?.[key]
        })
    },
    methods: {
        //méthode qui appel editeAvatar ou sendDataForAdd selon le besoin
        changeAvatar(){
            if(this.isEdite){
                return this.editAvatar();
            }
            else {
                return this.sendDataForAdd();
            }
        },
        //methode d'édition d'un avatar existant
        editAvatar() {
            this.getListKeyToUse()
            this.listDataKey.forEach(key=>{
                this.avatar[key]=this.getObjectToUse()[key]
            })
            //pour fermer le formulaire une fois le bouton modifier cliqué
            //this.isEdite = false
        },
//methode qui envoie la donné a ajouter à avatars au component apiView.vue
        sendDataForAdd(){
            this.getListKeyToUse()
            this.listDataKey.forEach(key=>{
                this.NewAvatar[key]=this.getObjectToUse()[key]
            })
            this.$emit('addAvatar',{
                ...this.NewAvatar,
            })
        },
        //methode qui détermine quel type d'avatar a traiter selon le chemin
        getObjectToUse(){
            const path = this.$route.fullPath;
            if (path.includes('/people')) {
                return this.listData.people;
            } else if (path.includes('/starships')) {
                return this.listData.starships;
            }else if (path.includes('/vehicles')) {
                return this.listData.vehicles;
            }else if (path.includes('/species')) {
                return this.listData.species;
            }else if (path.includes('/planets')) {
                return this.listData.planets;
            }else {
                console.log('erreur de path')
            }
        },
        //methode qui retourne la liste des clées de l'objet manipulé
        getListKeyToUse(){
            return this.listDataKey= Object.keys(this.getObjectToUse())
        },
    },
}
</script>