<template>
    <h1 class="underline text-xl m-2">liste card :</h1>
    <div class="m-2 flex ">
        <div class="mt-2 ">
            <select v-model="filterBy">
                <option value="">choisir un filtre</option>
                <option v-for="filter in listFilter">{{filter}}</option>
            </select>
        </div>
        <div>
            <button @click="sortAvatars" class="btn-change">trier</button>
        </div>
    </div>
    <div>
        <ul>
            <div class="flex flex-wrap  ">
                <Card v-for="(avatar,index) in avatars"
                      :avatar="avatar"
                      :index="index"
                      @removeAvatar="remove"
                />
            </div>
        </ul>
    </div>
</template>
<script>
import Card from "@/components/Card.vue";
export default {
    //emits:['listSort'],
    data(){
        return {
            filterBy:'',
            listFilter: [],
        }
    },
    components: { Card
    },
    props:{
        avatars: {type: Array, required: true},
        isEdite: Boolean,
    },
    mounted() {
        this.listFilter= Object.keys(this.avatars[0])
    },
    beforeUpdate() {
        this.listFilter= Object.keys(this.avatars[0])
    },
    methods:{
        remove(index){
            this.avatars.splice(index,1);
        },
        sortAvatars(){
            this.avatars.sort((a,b) => a[this.filterBy] > b[this.filterBy])
        },
    }
}
</script>