<template>
    <div>
        <li class="m-2">
            {{ fullname }} : {{ student.color }} : {{student.id}}
        </li>
    </div>
</template>
<script>
  export default {
    props: {
      student: { type: Object, required: true }
    },
    computed: {
      fullname() {
        return `${this.student.name} ${this.student.lastname}`
      }
    }
  }
</script>
