<template>
    <header>

        <nav class="dark:bg-gray-900 p-3 bg-slate-500">
            <div class="flex space-x-10">
                <img src="https://img.freepik.com/vecteurs-libre/icone-du-logo-oiseau-volant-style-lineaire_126523-946.jpg"
                     class="w-14 rounded-full">
                <div class="flex p-4 space-x-8 content-center ">
                    <RouterLink class="nav-link" to="/">Home</RouterLink>
                    <br>
                    <RouterLink class="nav-link" to="/about">About</RouterLink>
                   <br>
                    <router-link class="nav-link" to="/avatar">Avatar</router-link>
                    <br>
                    <router-link class="nav-link" to="/people">People</router-link>
                    <br>
                    <router-link class="nav-link" to="/starships">Starships</router-link>
                    <br>
                    <router-link class="nav-link" to="/vehicles">Vehicles</router-link>
                    <br>
                    <router-link class="nav-link" to="/species">Species</router-link>
                    <br>
                    <router-link class="nav-link" to="/planets">Planets</router-link>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <RouterView />
    </main>
    <footer>
        <div class="text-center m-20">
            <a class="">merci!!!!</a>
        </div>
    </footer>
</template>

<script>
import { RouterLink, RouterView } from 'vue-router'
</script>