@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link {
    @apply hover:text-white hover:underline hover:text-xl;
}

.btn-card {
    @apply m-1 ml-2 mr-2 rounded-md bg-blue-300 border-blue-700 border-2;
}

.btn-change{
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-9 rounded-full;
}

.card{
    @apply  m-2 border-2 border-blue-700/100 bg-slate-300  border-double rounded-md w-60;
}

.input{
    @apply border-black border m-1;
}
.dropdown{
    @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-200 dark:hover:text-white;
}


